<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naplata</title>
    <link rel="shortcut icon" href="/IMG/logo/GT_favicon.ico">

    <link rel="stylesheet" href="/FrontEnd_stilovi/common.css">
    <link rel="stylesheet" href="/FrontEnd_stilovi/style_checkout.css">

    <!-- gsap -->
    <script src="/Animacije_gsap/naplataAnimacija.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/CSSRulePlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
</head>

<body>
    <section class="sekcija-naplata">

        <div class="naslov-placanja">
            <h1>uspješno ste obavili kupovinu</h1>
        </div>
        <div class="zavrsetak-naplata">
            <!-- povratak na početnu stranicu stranica -->
            <form action="/naplata/end" method="post">
                <input type="submit" value="Vrati se na početnu stranicu" class="btn idi-dalje">
            </form>
        </div>




    </section>
</body>

</html>