    <!-- ! FOOTER -->
    <footer>
        <div>
            <h2>kontakt</h2>
            <ul>
                <li>telefon: <span>01/2345678</span></li>
                <li>email: <span>gametech@gmail.com</span></li>
                <li>fax: <span>01/2345677</span></li>
                <li>oib: <span>654235699919</span></li>               
            </ul>
        </div>

        <div>
            <h2>pratite nas</h2>
            <div>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/"><img src="../IMG/social network/facebook.png"
                                alt="facebook icon"></a></li>
                    <li><a href="https://www.youtube.com/"><img src="../IMG/social network/youtube.png"
                                alt="youtube icon"></a></li>
                    <li><a href="https://twitter.com/"><img src="../IMG/social network/twitter.png"
                                alt="twiter icon"></a>
                    </li>
                    <li><a href="https://www.pinterest.com/"><img src="../IMG/social network/pinterest.png"
                                alt="pinterest icon"></a></li>
                </ul>
            </div>
            <div class="logo-footer">
                <img src="../IMG/logo/Logo_GameTech_ikona_1.png" alt="logo">
            </div>

        </div>

        <div>
            <h2>saznajte više</h2>
            <ul>
                <li><a href="/onama">više o projektu</a></li>
                <li><a href="/kontakt">kontaktne informacije</a></li>
                <li><a href="/posao">posao i karijera</a></li>               
            </ul>
        </div>
    </footer>