 <!-- ! MENU  -->
 <nav id="nav-main">
    
     <ul>
         <li> <a href="/">home</a> </li>
         <li> <a href="/laptopi">laptopi</a> </li>
         <li> <a href="/mobiteli">mobiteli</a> </li>
         <li> <a href="/monitori">monitori</a> </li>
         <li> <a href="/konzole">konzole</a> </li>
         <li> <a href="/akcije">akcije</a> </li>
     </ul>
 </nav>
 <!-- ! MENU - hambureger-->
 <section class="container-hambi">
     <nav class="navbar-hamb">
         <div class="hamburger-menu">
             <div class="line line1"></div>
             <div class="line line2"></div>
             <div class="line line3"></div>
         </div>
         <ul class="nav-list">
             <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
             <li class="nav-item"><a href="/laptopi" class="nav-link">Laptopi</a></li>
             <li class="nav-item"> <a href="/mobiteli" class="nav-link">Mobiteli</a></li>
             <li class="nav-item"> <a href="/monitori" class="nav-link">Monitori</a></li>
             <li class="nav-item"> <a href="/konzole" class="nav-link">Konzole</a></li>
             <li class="nav-item"> <a href="/akcije" class="nav-link">Akcija</a></li>
         </ul>
     </nav>
 </section>