   <!-- ! pre-HEADER -->
   <section class="pre-header">
       <div class="logo">
           <a href="/"><img src="/IMG/logo/Ikona_GameTech_ikona.png" alt="LOGO"></a>
       </div>

       <div id="basket">

            <a href="/kosarica"><img src="/IMG/logo/kolica-prazna.png" alt="KOŠARICA"></a> 
  
       </div>
   </section>