<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT-Akcije</title>

    <link rel="shortcut icon" href="./IMG/logo/GT_favicon.ico">
    <link rel="stylesheet" href="./FrontEnd_stilovi/common.css">

    <link rel="stylesheet" href="./Stranice_dodaci/Akcije_dodaci/Akcija.css">

    <script src="./FrontEnd_funkcionalnosti/common.js" defer></script>

</head>

<body>
    <!-- ! pre-HEADER -->
    <%- include('../partials/preHeader.ejs')  %> 
    <%- include('../partials/navigacija.ejs')  %> 

    <!-- ! HEADER - Carousel -->
    <header>

    </header>
   
    <!-- !CONTENT  -->
    <section class="all-content akcija-kontenjer">

        <div>
            <h1>Laptop 2</h1>
            <img src="" alt="">

            <ul>
                <li>Lorem ipsum dolor sit amet elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet cons animi.</li>
            </ul>
            <div>
                <a href="../Laptopi/Laptop2.html">Vidi više</a>
                <input type="button" class="addBasket uKosaru" value="U košaricu" />
            </div>
        </div>
        <div>
            <h1>Laptop 7</h1>
            <img src="" alt="">

            <ul>
                <li>Lorem ipsum dolor sit amet elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet cons animi.</li>
            </ul>
            <div>
                <a href="../Laptopi/Laptop7.html">Vidi više</a>
                <input type="button" class="addBasket uKosaru" value="U košaricu" />
            </div>
        </div>
        <div>
            <h1>Mobitel 3</h1>
            <img src="" alt="">

            <ul>
                <li>Lorem ipsum dolor sit amet elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet cons animi.</li>
            </ul>
            <div>
                <a href="../Mobiteli/Mobitel3.html">Vidi više</a>
                <input type="button" class="addBasket uKosaru" value="U košaricu" />
            </div>
        </div>
        <div>
            <h1>Monitor 3</h1>
            <img src="" alt="">

            <ul>
                <li>Lorem ipsum dolor sit amet elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor amet consectetur adipisicing elit. Itaque, animi.</li>
                <li>Lorem ipsum dolor sit amet cons animi.</li>
            </ul>
            <div>
                <a href="../Monitori/Monitor3.html">Vidi više</a>
                <input type="button" class="addBasket uKosaru" value="U košaricu" />
            </div>
        </div>


    </section>
      <!-- ! FOOTER -->
      <%- include('../partials/footer.ejs')%>
</body>

</html>