/* 
.proizvodi-grid{
    margin:4rem;
    padding:2rem;
    gap:2rem
}
.akcijski-oznaka {
    
    width:3rem;
    height:3rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
    right:10px;
    top:10px;
    border-radius:0 5px 0 0;

    position: absolute;
    
}

.akcijski-znak{
    font-size: 1.5rem;
    font-weight: 700;
}
div.cijena > p:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span.cijena-akcija{
    
    color:red;
    font-size: 2.1rem;
}


span.stara-cijena{
    
    font-size: 1.1rem;
    position:relative;
    
}
span.stara-cijena::before{
    content:'';
   text-align: center;
    position:absolute;
    border-bottom: solid 2px rgb(245, 11, 11);
    width:150%;
    left:-20px;
    top:50%;
    transform:rotate(12deg);
   
} */