/* Position the image container (needed to position the left and right arrows) */
.vidi-vise-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
   
}

.slideshowContainer-vidiVise {
    position: relative;
    display: flex;
    flex-direction: column;
 
}

/* Hide the images by default */
.slides-vidiVise {
    display: none;
    
    
}

.slides-vidiVise>img {
    width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prevV,
.nextT {
    background-color: var(--color5);
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
   
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextT {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevV:hover,
.nextT:hover {
    background-color: var(--color1);
}

/* Number text (1/3 itd) */
.numbertext {
  
    border-radius: 0 0 5px 0;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    color:var(--color3);
}

/* Container for image text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
  
}

.row-picture:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column-picture {
    float: left;
    width: 16.66%;

}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 100%;
}

.active,
.demo:hover {
    opacity: 1;
}

.karakteristike {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    gap: 1rem;
    

}
.karakteristike h1 {
    padding-bottom:2rem;
    font-size: 2rem;

}

.karakteristike>div {
    display: flex;
    flex-direction: column;
    
    font-size: 1rem;
}
.karakteristike>div:nth-child(1) {
   width:100%;
   margin-bottom:1rem;

}
.karakteristike>div:nth-child(1)>ul {
   border:1px solid;
   border-radius: 5px;
   padding:1.5rem;
 
}
.karakteristike>div:nth-child(1)>ul>li {
    padding:5px 0;
    list-style-type: disc;
 
}
.karakteristike>div:nth-child(2)> p:nth-child(1)>span {
    align-self: flex-start;
    color: var(--color2);
    font-size: 1.5rem;
 
}
.cijena-pojedinačna p span{
    margin: 0 1rem 0 0 ;
}
.cijena-proizvoda{
    align-self: flex-start;
    font-size: 2.5rem;
    padding:.5rem;
    color:var(--color2)
}

.uKosaru{
    cursor: pointer;
    background-color: var(--color5);
    border-radius: 5px;;
    font-size: 2.1rem;
    width: 200px;
    height: 50px;
    margin-top:1.5rem;
}
.uKosaru:hover{
  
    background-color: var(--color1);
    
    font-size: 2.2rem;
    border: 3px solid var(--color2);;
    
}
.stanje-nula{
    background-color: var(--color3);;
}
.stanje-nula:hover{
    background-color: hsla(0, 64%, 45%, 0.487);
    border: 3px solid hsl(0, 100%, 50%);
}
.stanje-nula:hover::after{
    content:'nema na stanju';
    position: absolute;
    left:100%;;
    font-size:1rem;
    font-weight: bolder;
    color:hsl(0, 100%, 50%);
   text-decoration: underline hsl(0, 100%, 50%);
    width:10rem;
    height:1rem;
    text-align: center;
    line-height:0 50%;;
}

.pogledaj-ostalo {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    height:50px;
    width:200px;
    font-weight: bolder;
    border-radius: 5px;  
    margin:2rem 0 0 0;  
    
}
.pogledaj-ostalo:hover {
    background-color: var(--color5);
    /* transform: scale(1.2); */
   border: 3px solid var(--color2)
}

/* AKO JE AKCIJA- staru cijenu prekriži */

span.cijena-akcija {
    color: red;
    font-size: 2.1rem;
}

/* prekriži staru cijenu */
span.stara-cijena {

    font-size: 1.1rem;
    position: relative;

}

span.stara-cijena::before {
    content: '';
    text-align: center;
    position: absolute;
    border-bottom: solid 2px rgb(245, 11, 11);
    width: 150%;
    left: -20px;
    top: 50%;
    transform: rotate(12deg);
}