/* ! About us ( PROJEKTU) */
.sekcija_informacije {
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
    margin: 5rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;

}

.kontenjer_informacije {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sekcija_informacije h1 {
    margin: 2rem 0;

}

.about_info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
    align-items: center;




}

.about_info img {
    width: 400px;
    height: 300px;



}

.about_info>p {
    margin: 1rem;



}


/* ---------------------------- */




/* ----------------------KONTAKT */
.narudzba_wraper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;


    font-family: 'Frijole', cursive, sans-serif;
    font-weight: initial;
}

.narudzba_wraper p {
    border: 2px solid;
    padding: 2rem;
    margin: 0 5rem;
    font-size: 2rem;
    ;
 
}

.reklama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    margin: 0 0 2rem 0;
}
.reklama h2 {
    
    font-family: 'Frijole', cursive, sans-serif;
    font-weight: initial;
    font-size: 5rem;
    text-align: center;
    color: var(--color2)
}
.reklama>h2>span {
    font-family: 'Frijole', cursive, sans-serif;
    color: red;

}
.reklama div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.kontakt_wraper {

    text-align: center;

}

.kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

}

.kontakt p {
    border: 2px solid black;

    padding: 2rem
}

div.kontakt_wraper>div>p:nth-child(5) {
    grid-column: 1/3;
}

div.kontakt_wraper>div>p:nth-child(12) {
    grid-column: 1/3;
}





/* ----------------------Karijera */
.want_you_wrapper {
    /* display:flex;
    flex-wrap: wrap;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;


}

.want_you_wrapper h2 {
    font-family: 'Frijole', cursive, sans-serif;
    font-weight: initial;
    font-size: 5rem;
    text-align: center;
    color: var(--color2)
}

.want_you_wrapper>h2>span {
    font-family: 'Frijole', cursive, sans-serif;
    color: red;

}

.want_you_wrapper p {
    border: 2px solid;
    padding: 2rem;
    margin: 0 5rem;
    font-size: 2rem;
    ;

}


.otvorene_pozicije {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.otvorene_pozicije h2 {
    justify-self: center;
    align-self: center;
    padding: 2rem;
    text-decoration: underline;



}

.pozicije div {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.otvorene_pozicije>div>h3 {
    padding: 1rem;
    justify-self: center;
    align-self: center;


}

.otvorene_pozicije div>p {
    padding: 1rem;
    text-align: center;

}




/* ! 404 - page not found */

.kontenjer_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1
}