.kontenjer-sekcija-basket {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */

    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

   
    margin: 5rem;

    align-items: center;

    /* gap:2rem; */
}

table {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* background-color: var(--color5); */

    border: 3px solid;
    border-collapse: collapse;

    /* height: auto;*/
    margin: 2rem;
    /* min-width:100px; */


}

@media screen and (max-width: 600px) {
    table {
        margin: 0rem;
        font-size: 90%
    }

}

caption {
    font-size: 2.5rem;
    padding: 1rem
}

.table-header {
    border: 3px solid;
}

th {
    font-size: 1.5rem;
    border: 2px solid;
    padding: 1rem;
    background-color: var(--color1);
}

tbody {
    background-color: var(--color5);
    
}

td {
    border: 2px solid;
    height: 2.5rem;
    padding: 10px;
}

.tbl-cijena {
    font-size: 1.5rem;
}

.tbl-cijena>td:nth-child(1) {
    font-weight: 700
}
.kontenjer-idi-dalje{
    display:flex;
    justify-content: center;
    align-items: center;

}
.idi-dalje input {
    background-color: var(--color1);
    height: 3rem;
    border-radius: 5px;
    border: none;
    text-align: center;

    font-size: 1rem;

}

.btn {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    opacity: .7;
    letter-spacing: 2px;
}


.btn-oduzmi {
    background-color: hsla(210, 53%, 52%, 0.7);

}

.btn-dodaj {
    background-color: hsla(110, 62%, 62%, 0.7);
}

.btn-brisanje {
    background-color: hsla(0, 43%, 65%, 0.7);
}

/* ! --------------------------------- */
/* !UREĐENJE - naplata*/
body {
    display: grid;
    grid-template-columns: 1fr;

}

.sekcija-naplata {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 2px solid;
    padding:2rem;
}

.koraci {
    margin: 2rem 0;
    height: auto;

}

.koraci>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    text-align: center;
    justify-content: center;
    align-items: center;

}


.koraci>ul li {

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 1rem;
    height: 50px;
}

.koraci>ul li span {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid;
    height: 25px;
    width: 25px;
    padding: 10px;
    background-color: var(--color5);


}

div.koraci>ul>li .aktivni-korak {
    font-weight: 700;
    padding: 15px;
    background-color: var(--color1);
    border: 2px solid;
}

.naslov-placanja {
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 0;
}

.naslov-placanja h1 {
    text-align: center;
    color: var(--color1);

}
/* !UVOD- korak1 */

.form-popunjavanje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uvod-naplata {
    padding: 4rem;
    text-align: center;
}
.uvod-naplata>p {
    font-size:xx-large;
}

/* ! POPUNJAVANJE formulara */

#formaKorak2 form {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 300px 50px 50px;
    justify-content: center;
    align-items: center;
    /* margin: 3rem 0 1rem 0; */
}

.formDivide{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    letter-spacing: 5px;
    
}

.formDivide>div{
    width:80%;
}
div.formDivide>div p{
    font-size: 1rem;
}
.formDivide>div .info-input {
    height: 2.5rem;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    margin:5px 0 1rem 0;
}

#formaKorak2>form>p{
    grid-column: 1/3;
    grid-row:2/3;
    align-self: center;        
    justify-self: center;
    margin:.5rem;
    font-weight: bolder;
    font-size: medium;
}
#formaKorak2 form .idi-dalje{
    grid-column: 1/3;
    grid-row:3/4;
    align-self: center;        
    justify-self: center;
}


/* ? placeholder */
input {
    color: var(--color3);    
}
input.info-input{
    font-variant: normal;
}

::placeholder {
    color: rgb(226, 0, 0);
    font-size: 1rem;
   font-weight: bolder;
   text-align: justify;
}


.form-popunjavanje form input:focus {
    color: var(--color3);
    background-color: hsl(84, 100%, 86%);
    border:2px solid var(--color2);
}

/* upozorenje */
.form-popunjavanje form p {
    font-size: .8rem;
}

.form-popunjavanje form p span {
    color: rgb(226, 0, 0);
    font-size: 1rem;
}

/* ? dugmad unutar naplate */
.vrati-se, .idi-dalje {
    
    align-self: center;
    /* justify-content: center; */
    
    padding:1rem;
    text-align: center;
}
.vrati-se {
    background-color: var(--color5);
    margin:2rem 0;
}
.idi-dalje {
    
    background-color: var(--color1);
    
}


/* ! 3 korak placanja */

.izbor-placanja {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    /* padding-left: 2rem; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-placanje {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-placanje form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* width:auto; */
}

.form-div-dio {
    padding: 1rem;
   
}
.form-div-dio div:nth-child(1){
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
}

.form-div-dio input[type=radio] {
    text-align: center;
    width:4rem;
    height:2rem;
    
}
.form-div-dio input[type=radio]:checked:after {
   
        width: 15px;
        height: 15px;
        border-radius: 15px;
        
        position: relative;
        top: 5px;
        left: 0px;
        background-color: var(--color2);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 3px solid var(--color5);
     
}
.no-active {
    display: none;
}

.active-odabir {
    display: flex;
    align-items: center;
    border:2px solid;
    border-radius: 5px;
    padding:1rem;
    margin:10px;;

}

.active-odabir div {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    

}

.active-odabir h5 {
    text-align: center;

}

.kratki-pregled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.kratki-pregled>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.kratki-pregled>div h2 {
    padding: 2rem;
}
.kratki-pregled>div>p{
    padding: .5rem;
}
div.izbor-placanja > div.form-placanje > form > input.idi-dalje{
    margin-top: 1rem;
    
}
/* !KARTIČNO PLAĆANJE */

.form-kartica{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    
    
}.form-kartica a{
    justify-self: center;
    align-self: center;
    
}
.form-kartica form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.form-kartica form div{
    padding:.5rem 
}
.form-kartica form div p{
    padding:.3rem 
}
.form-kartica form div input{
    padding:.5rem;
    color: var(--color3); 
}
.form-kartica form div input:focus{
    padding:.5rem;
    color: var(--color3);
    background-color: hsl(84, 100%, 86%);
    border:2px solid var(--color2); 

}
/* upozorenje */
.form-kartica form p {
    font-size: .8rem;
}

.form-kartica form p span {
    color: rgb(226, 0, 0);
    font-size: 1rem;
}

select,option{
    color:var(--color3);
    padding:.5rem;

}


.logo-kartice{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin:1rem;

}
.logo-kartice img{
    width:100px;
    height:100px;
    padding:1rem;
}



/* lllllllllllllllllllllllllll */








/* !ZAVRŠETAK KUPOVINE */

.zavrsetak-naplata{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
}
.zavrsetak-naplata .poruka{
   margin-bottom: 2rem;
   
    
   
}
.zavrsetak-naplata p{
    line-height: 2rem;
    text-align: center;
   
    
   
}
.zavrsetak-naplata .istakni{
    font-size: x-large;  
    color:var(--color2);
    letter-spacing: 2px;
}

